@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */


.model-title {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 192, 195, 0.925) 0%,
    rgba(253, 187, 45, 0.685) 89%
  );
}

.button {
  width: fit-content;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
  background-color: #000000cc;
  color: #b9b9b9;
  padding: 0 8px;
  line-height: 30px;
  border-radius: 15px;
}

.button--active {
  color: #ffffff;
}

.button--type {
  background-color: #50d0ff;
  color: #000000;
}
.models {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  background: center / cover no-repeat;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.input {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  outline: none;
  padding: 0 5px;
  height: 20px;
}

.origins-container {
  scrollbar-width: none;
}

