@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.App {
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.model-title {
  margin: 0;
  padding: 10px;
  text-align: left;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.5116640406162465) 0%,
    rgba(253, 187, 45, 0.3463979341736695) 89%
  );
  color: #ffffff;
}



.button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #50ff93;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
}

.button--active {
  border: 1px solid #ff7f50;
}

.button--type {
  background-color: #50d0ff;
}
.models {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 200px;
  background: center / cover no-repeat;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.input {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #000000;
  outline: none;
  padding: 0 5px;
  height: 20px;
}

.origins-container {
  scrollbar-width: none;
}

